<div class="d-flex bg-info">
  <div class="mt-5 card col-6">
    <form class="container p-3">
      <div class="form-row">
        <div class="form-group">
          <label for="user">Usuário</label>
          <input
            type="text"
            class="form-control"
            id="user"
            aria-describedby="userHelp"
            placeholder="Digite seu nome de usuário"
          />
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Digite sua senha"
          />
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirmação de senha</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            placeholder="Confirme sua senha"
          />
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
